.productCard {
  width: 300px;
  height: 346px;

  border-radius: 5px;
  border: 2px solid var(--grey-100);
  background: var(--white);
}

.productCard:hover {
  border: 2px solid var(--color-primary);
}

.productCardHeader {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  background-color: var(--grey-0);
}

.productCardMain {
  width: 300px;
  height: 196px;

  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
}
